
@model ASociator.ViewModels.UsersListViewModel;
@{
    ViewData["Title"] = "Search";
}

<h2>Search users</h2>



@await Html.PartialAsync("SearchUserFilterPartial", Model)

<hr />
<h3>Result: </h3>

@if (Model.Users.Count() == 0)
{
    <h4>Nothing here </h4>
}

@foreach (UserProfileViewModel user in Model.Users)
{
    @await Html.PartialAsync("UserPartial", user)    
}
